<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div>
	<b>Murfreesboro</b>
	<table class="agendaTable">
		<th>
			<tr>
				<td>Council</td>
				<td>Name</td>
				<td>Date</td>
				<td>Link</td>
			</tr>
		</th>
		{% for agendaRow in agendaList %}
			<tr>
				<td>{{ agendaRow.council }}</td>
				<td>{{ agendaRow.name }}</td>
				<td>{{ agendaRow.dateString }}</td>
				<td><a href="https://www.murfreesborotn.gov/{{ agendaRow.agenda }}" target="_blank">Agenda</a></td>
			</tr>
		{% endfor %}
	</table>
</div>